body {
    background-color: black;
}

#home .cards {
    width: 250px;
    height: 350px;
    margin: 30px;
    color: grey;
}

@media only screen and (max-width: 450px) {
    #home .cards {
        width: 100%;
        height: 100%;
        margin-top: 10;
        margin-right: 0;
        margin-left: 0;
        transform: translate(-15%, -0%);
        color: grey;
    }

    #home .cardText {
        display: none;
    }
  }

#home .cardText {
    font-family: Poppins-Regular;
    color: grey;
    font-size: 13px;
    text-align: center;
}

.cards img {
    height: 70%;
    width: 100%;
}

#img {
    height: 100%;
    width: 100%;
    overflow: hidden;
}