$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$greyText: #b3b3b3;
$greyNav: #090909;

.uppercase {
  text-transform: uppercase;
}

.smallText {
  font-size: 0.75rem;
  letter-spacing: 0.8px;
  &.bold {
    font-weight: 600;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins-Regular;
}

.subText {
  font-size: 0.9rem;
  color: $greyText;
}

.App {
  height: 100vh;
  background: $greyLight;
  display: flex;
}

.navBar {
  width: 14%;
  height: 100%;
  background: $greyDark;
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;
  .logo {
    padding: 10%;
  }
  ul {
    margin: 0;
    padding: 0;
    a {
      color: inherit;
      text-decoration: none;

      &:visited {
        color: inherit;
        text-decoration: none;
      }
    }
    li {
      color: $greyText;
      list-style-type: none;
      border-radius: 5px;
      padding: 0.5rem 0.8rem;
      font-size: 0.9rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      font-family: Poppins-Regular;
      display: flex;
      align-items: center;

      svg {
        fill: currentColor;
        margin-right: 15px;
      }
      &.active {
        background: $greyLighter;
        color: white;
        svg {
          fill: white;
        }
      }
      &:hover {
        color: white;
      }
    }
  }
  .meta {
    font-size: 0.6rem;
    color: $greyText;
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    .ref {
      color: #bd9e06;
      text-decoration: none;
    }
  }
}

.outerWrap {
  background: grey;
  height: 100vh;
  min-height: 100%;
}

.bottomBar {
  background: $greyLighter;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
  border-top: 1px solid $greyDark;
  .bottomText {
    color: white;
    font-family: Poppins-Light;
    font-size: 0.9rem;
    padding-top: 10px;
  }
}

.upperNav {
  background: rgba(255, 255, 255, 0.883);
  height: 8%;
  width: 100%;
  display: absolute;
  align-items: center;
  color: white;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  z-index: 2;
}

.main {
  width: 100%;
  overflow-y: scroll;
  position: relative;
  padding-top: 3.4rem;
  .mainContent {
    padding-left: 3.5rem;
  }
}

.search {
  margin-left: 5% !important;
}

.search-filter {
  position: relative !important;
  color: white !important;
  width: 12% !important;
  min-width: 200 !important;
  margin-left: 5% !important;
}